{#
/**
* @file
* Default theme implementation to display a block.
*
* Available variables:
* - plugin_id: The ID of the block implementation.
* - label: The configured label of the block if visible.
* - configuration: A list of the block's configuration values.
* - label: The configured label for the block.
* - label_display: The display settings for the label.
* - provider: The module or other provider that provided this block plugin.
* - Block plugin specific settings will also be stored here.
* - content: The content of this block.
* - attributes: array of HTML attributes populated by modules, intended to
* be added to the main container tag of this template.
* - id: A valid HTML ID and guaranteed unique.
* - title_attributes: Same as attributes, except applied to the main title
* tag that appears in the template.
* - title_prefix: Additional output populated by modules, intended to be
* displayed in front of the main title tag that appears in the template.
* - title_suffix: Additional output populated by modules, intended to be
* displayed after the main title tag that appears in the template.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<div{{ attributes }}>
    {{ title_prefix }}
    {{ title_suffix }}
    {% block content %}
    <div class="header-wrapper">
        <div class="header-top">
            <div class="main-menu">
                {{ drupal_menu('main') }}
            </div>
            <div class="header_right">
                <div class="phone">
                    <div class="img"><a
                            href="tel:{{ content['#block_content'].get('field_phone_number').getValue()[0].value }}"><img
                                src="{{ base_path }}themes/custom/m2group/images/phone.svg" alt="phone">{{
                            content['#block_content'].get('field_phone_number').getValue()[0].value }}</a></div>
                </div>
                <div class="language">
                    <div class="dropdown">
                        {# <button type="button" id="language_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ base_path }}themes/custom/m2group/images/flag-vni.svg" alt="flag-vni.svg">
                            VNI
                            <img src="{{ base_path }}themes/custom/m2group/images/angel-down.svg" alt="angel-down.svg">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="language_dropdown">
                            <li><img src="{{ base_path }}themes/custom/m2group/images/flag-vni.svg" alt="flag-vni.svg">
                                VNI
                                <img src="{{ base_path }}themes/custom/m2group/images/angel-down.svg" alt="angel-down.svg">
                            </li>
                            <li><img src="{{ base_path }}themes/custom/m2group/images/flag-vni.svg" alt="flag-vni.svg">
                                VNI
                                <img src="{{ base_path }}themes/custom/m2group/images/angel-down.svg" alt="angel-down.svg">
                            </li>
                            <li><img src="{{ base_path }}themes/custom/m2group/images/flag-vni.svg" alt="flag-vni.svg">
                                VNI
                                <img src="{{ base_path }}themes/custom/m2group/images/angel-down.svg" alt="angel-down.svg">
                            </li>
                        </ul> #}
                        {{ drupal_entity('block', 'gtranslate', check_access=true) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="company">
            <div class="time-work">
                <img src="{{ base_path }}/themes/custom/m2group/images/time.svg" alt="time">
                <b>{{ 'Giờ làm việc:' }}</b> {{ content['#block_content'].get('field_time_work').getValue()[0].value }}
            </div>
            <div class="way-to-company">
                <img src="{{ base_path }}/themes/custom/m2group/images/marker_1.svg" alt="marker">
                <b>{{ 'Đường đến công ty:' }}</b> {{ content['#block_content'].get('field_way_to_company').getValue()[0].value }}
            </div>
        </div>
    </div>
    {% endblock %}
</div>

<div class="mobile-panel-wrapper">
    <div class="modal_mb"></div>
    <div class="elems">
        <div class="inside-wrapper">
            <div class="logo">
                <a href="{{ url('<front>') }}">
                    <img src="{{ logo }}" alt="m2group" height="47" width="178">
                </a>
            </div>
            <div class="main-menu">
                {{ drupal_menu('main') }}
            </div>
            <div class="gtranslate-mb"></div>
            <div class="contact">
                <div class="phone">
                        <div class="img"><a
                                href="tel:{{ content['#block_content'].get('field_phone_number').getValue()[0].value }}"><img
                                    src="{{ base_path }}themes/custom/m2group/images/phone.svg" alt="phone">{{
                                content['#block_content'].get('field_phone_number').getValue()[0].value }}</a></div>
                    </div>
            </div>
            <div class="company">
                <div class="time-work">
                    <img src="{{ base_path }}/themes/custom/m2group/images/time.svg" alt="time">
                    <b>{{ 'Giờ làm việc:' }}</b> {{ content['#block_content'].get('field_time_work').getValue()[0].value }}
                </div>
                <div class="way-to-company">
                    <img src="{{ base_path }}/themes/custom/m2group/images/marker_1.svg" alt="marker">
                    <b>{{ 'Đường đến công ty:' }}</b> {{ content['#block_content'].get('field_way_to_company').getValue()[0].value }}
                </div>
            </div>
        </div>
    </div>
</div>
