{#
    /**
     * @file
     * Default theme implementation to display a block.
     *
     * Available variables:
     * - plugin_id: The ID of the block implementation.
     * - label: The configured label of the block if visible.
     * - configuration: A list of the block's configuration values.
     *   - label: The configured label for the block.
     *   - label_display: The display settings for the label.
     *   - provider: The module or other provider that provided this block plugin.
     *   - Block plugin specific settings will also be stored here.
     * - content: The content of this block.
     * - attributes: array of HTML attributes populated by modules, intended to
     *   be added to the main container tag of this template.
     *   - id: A valid HTML ID and guaranteed unique.
     * - title_attributes: Same as attributes, except applied to the main title
     *   tag that appears in the template.
     * - title_prefix: Additional output populated by modules, intended to be
     *   displayed in front of the main title tag that appears in the template.
     * - title_suffix: Additional output populated by modules, intended to be
     *   displayed after the main title tag that appears in the template.
     *
     * @see template_preprocess_block()
     *
     * @ingroup themeable
     */
    #}
    <div{{ attributes }}>
        {{ title_prefix }}
        {{ title_suffix }}
        {% block content %}
        <div class="text_scroll_wrapper_top" style="overflow: hidden;">
            <div class="txt-rotate text_scroll">{{ 'M2GROUP' | t }}</div>
        </div>
        <div class="container">
            <div class="row">
                {% for item in items %}
                <div class="col-md-6">
                    <a href="{{ item.link }}">
                        <img src="{{ item.img | image_style('images_587_x_180') }}" alt="{{ item.alt }}">
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="bg_">
                <img src="{{ base_path }}/themes/custom/m2group/images/house_1.png">
            </div>
        </div>
        <div class="text_scroll_wrapper">
            <div class="txt-rotate text_scroll">{{ 'm2group' | t }}</div>
            <div class="txt-rotate text_scroll">{{ 'm2group' | t }}</div>
            <div class="txt-rotate text_scroll">{{ 'm2group' | t }}</div>
            <div class="txt-rotate text_scroll">{{ 'm2group' | t }}</div>
            <div class="txt-rotate text_scroll">{{ 'm2group' | t }}</div>
            <div class="txt-rotate text_scroll">{{ 'm2group' | t }}</div>
        </div>
        {% endblock %}
    </div>