{{ attach_library('m2group/search') }}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'container',
    'search-page',
    'station-search'
  ]
%}
<div class="search-page-wrapper">
  <div{{ attributes.addClass(classes) }}>
    <div class="box-search-wrapper">
      <span>{{ 'Tìm kiếm theo tên ga'|t }}</span>
      <div class="flat-type">
          <div class="item for-rent checked">
              <input id="for_rent" type="radio" name="flat_type" value="0" checked>
              <label for="for_rent">{{ 'Thuê'|t }}</label>
          </div>
          <div class="item for-sale">
              <input id="for_sale" type="radio" name="flat_type" value="1">
              <label for="for_sale">{{ 'Bán'|t }}</label>
          </div>
      </div>
      <div class="box-search">
        <div class="input-wrapper">
          <div class="_select">
            <select name="_select" id="_select">
              <option value="default">{{ 'Tên ga'|t }}</option>
            </select>
          </div>
          <div class="img-wrapper">
            <img src="/themes/custom/m2group/images/search.svg">
          </div>
        </div>
      </div>
      <div class="advance-filter">
          <div class="filter-box">
              <div class="select-box"></div>
          </div>
          <div class="filter-btn">
              <div class="close-state">{{ 'Tìm kiếm nâng cao'|t }}</div>
              <div class="open-state">{{ 'Ẩn'|t }}</div>
          </div>
      </div>
    </div>

    {{ exposed }}
  </div>
</div>
