{{ attach_library('m2group/search') }}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'container',
    'search-page',
    'district-search'
  ]
%}
<div class="search-page-wrapper">
  <div{{ attributes.addClass(classes) }}>
    <div class="box-search-wrapper">
      <span>{{ 'Tìm kiếm theo quận'|t }}</span>
      <div class="box-search">
        <div class="input-wrapper">
          <div class="_select">
            <select name="_select" id="_select">
              <option value="default">{{ 'Tên quận'|t }}</option>
            </select>
          </div>
          <div class="img-wrapper">
            <img src="/themes/custom/m2group/images/search.svg">
          </div>
        </div>
        <div class="filter-wrapper">
          <img src="/themes/custom/m2group/images/filter.svg">
        </div>
        <div class="flat-type">
          <div class="flat-type-item flat-type-item-1">
            <input id="for_rent" type="radio" name="flat_type" value="0">
            <label for="for_rent">{{ 'Thuê'|t }}</label>
          </div>
          <div class="flat-type-item flat-type-item-2">
            <input id="for_sale" type="radio" name="flat_type" value="1">
            <label for="for_sale">{{ 'Bán'|t }}</label>
          </div>
        </div>
      </div>
    </div>

    {{ exposed }}
  </div>
</div>
