{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXo9jy7Ze6jzQcDtTX8vNvF3pDyvuJ324&libraries=places"></script>
{{ attach_library('m2group/search-map') }}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="map-block">
    <div class="addr-input">
      <input type="text" id="search-map-input" name="search-map-input" placeholder="{{ 'Nhập địa chỉ'|t }}" />
    </div>
    <div class="map-wrapper">
      <div id="map"></div>
    </div>
    <div class="apartment">
      {% set data = view.result %}
      {{ drupal_dump(data) }}
      {% for row in data %}
        {% set e = row._entity %}
        <div
          class="item"
          lat="{{ e.field_latitude.value }}"
          lon="{{ e.field_longtitude.value }}"
          price="{{ '¥ ' ~ e.field_price.value|number_format(1, '.', ',') }}"
        >
          <div class="info-wrapper">
            <div class="text">
              <div class="name">{{ e.title.value }}</div>
              <div class="contact">{{ 'Liên hệ tư vấn: '|t }} <b>{{ e.field_contact.value }}</b></div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div id="show-info">
      <span class="close-btn">&#10006;</span>
      <div class="info"></div>
    </div>
  </div>
</div>
